*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  width: 100%;
  height: 15vh;
  margin: auto;
  background: rgb(19, 42, 82);
}

.logo-container {
  color: white;
  display: flex;
  flex: 2;
  margin: 1rem;
}
#logo {
  height: 100%;
}
.app-name {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

.search-form {
  padding: 0rem 2rem;
  display: flex;
  height: 100%;
  flex: 4;
  justify-content: space-around;
}
.search-bar {
  font-size: 1.5rem;
  flex: 3;
  padding: 5px;
  margin: auto;
  height: 50%;
  width: 50%;
  box-shadow: 0 0 2px white;
}
.search-button{
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin: auto;
  height: 50%;
  width: 50%;
  background: rgb(77, 171, 110);
  box-shadow: 0 0 2px white;
  flex: 1;
  cursor: pointer;
}
.search-button:hover {
  text-shadow: 0 0 3px white;
  opacity: 0.8;
}
.submit-icon {
  opacity: 0.7;
  height: 60%;
}

.change-src {
  flex: 1;
  display: flex;
  justify-content: center;
}
.change-src a {
  font-size: 1rem;
  margin: auto;
  width: 30%;
  height: 60%;
  display: flex;
}
.change-src a:hover {
  opacity: 0.8;
}
.change-src-img {
  margin: auto;
  width: 60%;
}

.user-list {
  margin-top: 1vh;
  height: 15vh;
  display: flex;
}
.user-list-title {
  flex: 1;
  padding: 5.5vh 1.5vw;
}
.users-container {
  flex: 8;
  display: flex;
}
.user-panels {
  margin: 0vh 1vh;
  padding: 2vh;
  width: 15vw;
  height: 100%;
  list-style: none;
  background: rgba(26, 52, 97, 0.7);
  display: block;
}
.user-list li a:link, .user-list li a:visited {
  font-size: 1.5vw;
  font-weight: 400;
  text-decoration: none;
}
.user-img {
  max-height: 8vh;
  margin: auto;
}
.clear-users-ctr {
  display: flex;
  flex: 1;
}
.clear-users {
  width: 40px;
  height: 40px;
  margin: auto;
  font-size: 1.5rem;
  background: rgba(26, 52, 97, 0.6);
}
.clear-users:hover {
  background: rgba(26, 52, 97, 0.7);
}

.anime-gallery, .manga-gallery {
  margin-top: 2vh;
  height: fit-content;
}
.gallery-title {
  margin: 0px 1.5vw;
}
.gallery-container {
  margin: 2rem 0rem;
  display: flex;
}
.empty-gallery-text {
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 2.5rem;
  background: rgba(26, 52, 97, 0.8);
}
.next-btn, .prev-btn {
  height: 20vh;
  width: 5vw;
  margin: auto;
  background: rgba(26, 52, 97, 0.6);
  font-size: 4rem;
}
.next-btn:hover, .prev-btn:hover {
  background: rgb(26, 52, 97, 0.7);
}

.anime-list, .manga-list {
  display: flex;
}
.anime, .manga {
  background: rgba(0,0,0, 0.8);
  padding: 1rem;
  margin: 1rem;
  width: 18vw;
}
.anime-url {
  color: inherit;
  text-decoration: none;
}
.anime-title, .manga-title {
  width: fit-content;
  margin: 1vh auto;
}
.anime-img, .manga-img {
  margin: auto;
  width: 100%;
  max-height: 50vh;
}

/*Color Schemes*/
.user-list, .user-list li a:link, .user-list li a:visited,
.clear-users, .anime-gallery, .manga-gallery,
.next-btn, .prev-btn {
  color: rgb(232, 218, 176);
}

.soft-borders {
  border: none;
  border-radius: 5px;
}
